/************************ ABOUT ME *********************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@700&display=swap');

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-indent: 50px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: "Roboto Condesed", sans-serif;
  }
  
  .profile-img {
    width: 16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-orange);
  }
  
  .about-heading {
    color: var(--primary-orange);
    text-transform: uppercase;
    font-family:algerian !important;
    text-decoration: underline;
  }
  
  @media(max-width: 468px) {
    .profile-img {
      width: 10rem;
    }
  }